{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/logIn.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive-logIn.css' %}">

    <!-- Link Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

    <title>Document</title>
</head>

<body>

    <section style="background: url({% static 'images/image-background/bg_5.jpg' %});
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;">
        <div class="form-box">
            <div class="form-value">
                <form action="{% url 'forgot_password' %}" method="post" autocomplete="new-password">
                    {%csrf_token%}
                    <h2>Lấy Lại Mật Khẩu</h2>
                    <p style="text-align: center; font-size: 1.4rem; color: white;
                              max-width: 294px;
                              margin-top: 20px;">
                        Vui lòng nhập địa chỉ Email và Chúng tôi sẽ gửi link để lấy lại mật khẩu
                    </p>
                    <p style="text-align: center; font-size: 1.4rem; color: white;
                              max-width: 294px;
                              margin-top: 20px;">
                        Bạn vui lòng kiểm tra phần thư rác (spam) trong email!
                    </p>
                    <div class="inputbox" style="margin-top: 30px;">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="new-email" required autocomplete="new-password">
                        <label>Email</label>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <p style="color: white; font-size: 1.5rem; margin-bottom: 15px; text-align: center;">{{message}}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <button type="submit">Tiếp Tục</button>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>