{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/logIn.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive-logIn.css' %}">

    <!-- Link Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

    <script src="{% static 'js/register.js' %}" async></script>

    <title>Document</title>
</head>

<body>

    <section style="background: url({% static 'images/image-background/bg_17.jpg' %});
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;">
        <div class="form-box">
            <div class="form-value">
                <form action="{% url 'reset_password' %}" method="POST" autocomplete="new-password">
                    {%csrf_token%}
                    <h2>Đặt Lại Mật Khẩu</h2>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <!-- Way to prevent autofill of Chrome: use name='new-password' and autocomplete="new-password" -->
                        <input type="password" name="new-password" required autocomplete="new-password" id="id_password">
                        <label>Mật Khẩu Mới</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="confirm-password" required autocomplete="new-password" id="id_confirm_password">
                        <label>Xác Nhận Lại Mật Khẩu</label>
                    </div>
                    <ul class="list-error"></ul>
                    <button type="submit" onclick="prevent_submit(event)">Tiếp Tục</button>
                </form>
            </div>
        </div>
    </section>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script></h2>
                    
</body>

</html>