{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tàng Kinh Các - Thế Giới Truyện Dịch</title>
    <meta name="description" content="Kho tàng truyện chữ Dịch online với nhiều thể loại Kiếm hiệp, Tiên hiệp, Sắc hiệp, Đô thị, Ngôn tình.">

    <!-- Link CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/grid_system.css' %}">
    <link rel="stylesheet" href="{% static 'css/home-page-new.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin-page.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

    <!-- Link JS -->
    <script src="{% static 'js/base-personal-page.js' %}" async></script>

</head>

<body>
    <div class="admin-page">
        <header>
            <a href="{% url 'home' %}">
                <div class="cover-photo hidden-mobile"
                    style="background-image: url({% static 'images/image-background/bg_5.jpg' %}); background-position: 0px -605px;">
                </div>
            </a>
            <div class="header-mobile" style="display: none;">
                <div>
                    <i class="fa-solid fa-arrow-left"></i>
                    <span>Xong</span>
                </div>
                <div>
                    <img src="{% static 'images/image-poster/poster-1.png' %}" alt="">
                    <span>tony123</span>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="grid wide">
                <div class="row">
                    <div class="admin-body">
                        <div class="admin-info">
                            <div class="admin-info__header">
                                <div class="admin-info__header-cover-photo"
                                    style="background-image: url({% static 'images/personal-info-photo.png' %});">
                                    <img src="{% static 'images/default-avatar.jpeg' %}" alt="">
                                    <span>tony123 (ID: 1492230)</span>
                                </div>
                                <div class="admin-info__header-level">
                                    <span>Bá Tánh Bình Dân</span>
                                </div>
                            </div>
                            <form action="{% url 'add_chapter' %}" method="POST">
                                {%csrf_token%}
                                <h1>Thêm Chương</h1>
                                <div class="admin-info__body">
                                    <div class="admin-info__body-detail-info">
                                        <div class="form-group">
                                            <label>Tên truyện</label>{{form.story}}
                                        </div>
                                        <div class="form-group">
                                            <label>Chương</label>{{form.chap_number}}
                                        </div>
                                        <div class="form-group">
                                            <label>Tên chương</label>{{form.title}}
                                        </div>
                                        <div class="form-group">
                                            <label>VIP</label>{{form.vip}}
                                        </div>
                                        <div class="form-group">
                                            <label>Price</label>{{form.price}}
                                        </div>
                                    </div>
                                    <div class="content-story">
                                        <label>Nội Dung</label>{{form.content|escape}}
                                        <!-- <textarea name="content" cols="60" rows="20" required></textarea> -->
                                    </div>
                                    <input class="save-info" type="submit" value="Tải Lên">
                                </div>
                            </form>
                            <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/super-build/ckeditor.js"></script>
                            <script>
                                // This sample still does not showcase all CKEditor 5 features (!)
                                // Visit https://ckeditor.com/docs/ckeditor5/latest/features/index.html to browse all the features.
                                CKEDITOR.ClassicEditor.create(document.getElementById("id_content"), {
                                    // https://ckeditor.com/docs/ckeditor5/latest/features/toolbar/toolbar.html#extended-toolbar-configuration-format
                                    toolbar: {
                                        items: [
                                            'findAndReplace', 'selectAll', '|',
                                            'heading', '|',
                                            'bold', 'italic', 'strikethrough', 'underline',
                                            'outdent', 'indent', '|',
                                            'undo', 'redo',
                                            '-',
                                            'sourceEditing'
                                        ],
                                        shouldNotGroupWhenFull: true
                                    },
                                    // Changing the language of the interface requires loading the language file using the <script> tag.
                                    language: 'es',
                                    // https://ckeditor.com/docs/ckeditor5/latest/features/headings.html#configuration

                                    heading: {
                                        options: [
                                            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                                            { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                                            { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                                            { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                                            { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                                            { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                                            { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                                        ]
                                    },

                                    // https://ckeditor.com/docs/ckeditor5/latest/features/editor-placeholder.html#using-the-editor-configuration
                                    placeholder: 'Nhập Văn Bản',
                                    // Be careful with the setting below. It instructs CKEditor to accept ALL HTML markup.
                                    // https://ckeditor.com/docs/ckeditor5/latest/features/general-html-support.html#enabling-all-html-features
                                    htmlSupport: {
                                        // allow: [
                                        //     {
                                        //         name: /.*/,
                                        //         attributes: true,
                                        //         classes: true,
                                        //         styles: true,
                                        //     }
                                        // ]
                                        disallow: [
                                            {
                                                name: /[\s\S]+/,    // For every HTML feature
                                                attributes: {
                                                    key: /^on.*$/ // disable 'on*' attributes, like 'onClick', 'onError' etc.
                                                }
                                            }
                                        ]

                                    },
                                    // Be careful with enabling previews
                                    // https://ckeditor.com/docs/ckeditor5/latest/features/html-embed.html#content-previews
                                    htmlEmbed: {
                                        showPreviews: true
                                    },
                                    // The "super-build" contains more premium features that require additional configuration, disable them below.
                                    // Do not turn them on unless you read the documentation and know how to configure them and setup the editor.
                                    removePlugins: [
                                        // These two are commercial, but you can try them out without registering to a trial.
                                        // 'ExportPdf',
                                        // 'ExportWord',
                                        'CKBox',
                                        'CKFinder',
                                        'EasyImage',
                                        // This sample uses the Base64UploadAdapter to handle image uploads as it requires no configuration.
                                        // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/base64-upload-adapter.html
                                        // Storing images as Base64 is usually a very bad idea.
                                        // Replace it on production website with other solutions:
                                        // https://ckeditor.com/docs/ckeditor5/latest/features/images/image-upload/image-upload.html
                                        // 'Base64UploadAdapter',
                                        'RealTimeCollaborativeComments',
                                        'RealTimeCollaborativeTrackChanges',
                                        'RealTimeCollaborativeRevisionHistory',
                                        'PresenceList',
                                        'Comments',
                                        'TrackChanges',
                                        'TrackChangesData',
                                        'RevisionHistory',
                                        'Pagination',
                                        'WProofreader',
                                        // Careful, with the Mathtype plugin CKEditor will not load when loading this sample
                                        // from a local file system (file://) - load this site via HTTP server if you enable MathType
                                        'MathType',
                                        'Basicstyles',
                                        'hippocontents.css'
                                    ],
                                    removeLoader: [
                                        {
                                            loader: 'css-loader'
                                        }
                                    ]
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer hidden-mobile hidden-tablet">
                <div class="grid wide">
                    <div class="row">
                        <div class="col xl-6 l-6" style="padding-left: 0;">
                            <div class="introduce-about-web">
                                <h4><i class="fa fa-info-circle"></i> Giới Thiệu</h4>
                                <div>
                                    Đọc truyện online, truyện chữ, truyen
                                    full, truyện hay được đóng góp hoàn toàn bởi các thành
                                    viên: dịch giả, tác giả, editor.. tâm huyết. Web truyen luôn cập nhật những bộ
                                    truyện
                                    mới thuộc các thể loại đặc sắc như ngôn tình,
                                    tình cảm, đam mỹ, bách
                                    hợp một cách nhanh nhất.
                                </div>
                            </div>
                        </div>
                        <div class="col xl-3 l-3">
                            <div class="support">
                                <h4><i class="fa fa-life-ring"></i> Hỗ Trợ</h4>
                                <div class="people-support">
                                    <p>
                                        <span>Vấn đề khác:</span>
                                        <i class="fa-brands fa-telegram"></i>
                                        <a href="https://t.me/Diggory_24">Sỹ Thiện</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col xl-3 l-3" style="padding-right: 0;">
                            <div class="contact">
                                <h4><i class="fa fa-address-card"></i> Liên Hệ</h4>
                                <div>
                                    <p class="contact-type">
                                        <span style="padding-right: 44px;">Email:</span>
                                        <i class="fa fa-envelope-open"></i>
                                        <span>truyen.tangkinhcac.vn@gmail.com</span>
                                    </p>
                                    <p class="contact-type">
                                        <span style="padding-right: 17px;">Facebook:</span>
                                        <i class="fa-brands fa-square-facebook"></i>
                                        <a href="https://www.facebook.com/truyen.tangkinhcac.vn">Fb.com/tangkinhcac.vn</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-for-tablet" style="display: none;">
                <div class="grid wide">
                    <div class="row">
                        <div class="col m-12" style="padding-left: 0; padding-right: 0;">
                            <div class="introduce-about-web">
                                <h4><i class="fa fa-info-circle"></i> Giới Thiệu</h4>
                                <div>
                                    Đọc truyện online, truyện chữ, truyen
                                    full, truyện hay được đóng góp hoàn toàn bởi các thành
                                    viên: dịch giả, tác giả, editor.. tâm huyết. Web truyen luôn cập nhật những bộ
                                    truyện
                                    mới thuộc các thể loại đặc sắc như ngôn tình,
                                    tình cảm, đam mỹ, bách
                                    hợp một cách nhanh nhất.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m-6">
                            <div class="support">
                                <h4><i class="fa fa-life-ring"></i> Hỗ Trợ</h4>
                                <div class="people-support">
                                    <p>
                                        <span>Vấn đề khác:</span>
                                        <i class="fa-brands fa-telegram"></i>
                                        <a href="https://t.me/Diggory_24">Sỹ Thiện</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col m-6" style="padding-right: 0;">
                            <div class="contact">
                                <h4><i class="fa fa-address-card"></i> Liên Hệ</h4>
                                <div>
                                    <p class="contact-type">
                                        <span style="padding-right: 44px;">Email:</span>
                                        <i class="fa fa-envelope-open"></i>
                                        <span>truyen.tangkinhcac.vn@gmail.com</span>
                                    </p>
                                    <p class="contact-type">
                                        <span style="padding-right: 17px;">Facebook:</span>
                                        <i class="fa-brands fa-square-facebook"></i>
                                        <a href="https://www.facebook.com/truyen.tangkinhcac.vn">Fb.com/tangkinhcac.vn</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="grid wide">
                    <div class="footer-bottom-logo">
                        <a class="bottom-logo" href="{% url 'home' %}">
                            <img src="{% static 'images/log-rieng.png' %}" alt="">
                        </a>
                        <span>© 2023 Tàng Kinh Các</span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>