/* Tablet */

@media (min-width:800px) and (max-width:1023px) {

    .cover-photo {
        height: 222px;
    }

    .story-detail {
        transform: translateY(-60px);
    }

    .content-nav-wrap::before {
        top: 27px;
    }

    .detail-story__info>span {
        font-size: 2.6rem;
    }

    .detail-story__info-1>a {
        font-size: 1.6rem;
    }

    .detail-story__info-chap>b {
        font-size: 1.6rem;
    }

    .detail-story__info-view>b {
        font-size: 1.6rem;
    }

    .detail-story__info>p {
        font-size: 1.6rem;
    }

    .content-nav-wrap li>span {
        font-size: 2.2rem;
    }

    .story-content__introduce-story>p {
        font-size: 1.9rem;
    }

    .detail-story__info {
        transform: none;
    }

    .detail-story__info>p {
        max-width: 524px;
    }

    .left-content {
        width: 100%;
        padding-right: 0;
    }

    .list-chap__new-update>h3 {
        font-size: 2rem;
    }

    .list-chap__new-update>ul>li {
        width: 50%;
        font-size: 1.7rem;
        line-height: 2.2rem;
    }

    .list-chap__new-update>ul>li:nth-of-type(3) {
        border-top: none;
    }

    .list-chap>h3 {
        font-size: 2rem;
    }

    .list-chap li {
        width: 50%;
        font-size: 1.7rem;
        line-height: 2.2rem;
    }

    .list-chap li:nth-of-type(3) {
        border-top: none;
    }

    .detail-story__info-3>span {
        margin-right: 10px;
        padding: 5px 15px;
    }

    .detail-story__info-3>span:nth-of-type(3) {
        border: 1px solid #9fadc9;
        color: #3f5a93;
        cursor: pointer;
    }

    .rate-for-tablet {
        display: initial !important;
    }

    .modal-rateStory-tablet {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        z-index: 20;
    }

    .modal-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #89898957;
    }

    .modal-rate {
        width: 300px;
        height: 150px;
        z-index: 25;
        margin: auto;
        background-color: white;
        padding: 0 10px;
    }

    .modal-rate>div:first-child {
        font-size: 2.2rem;
        display: flex;
        justify-content: end;
        margin-top: 10px;
    }

    .modal-rate>div:first-child>span {
        width: 25px;
        height: 25px;
        text-align: center;
        padding-top: 1px;
        transition: transform 0.5s linear;
        cursor: pointer;
    }

    .modal-rate>div:first-child>span:hover {
        transform: rotate(90deg);
        color: red;
    }

    .modal-rate>div:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modal-rate>div:last-child>div>i {
        font-size: 1.8rem;
        margin-right: 5px;
        color: #dddcdb;
        cursor: pointer;
    }

    .modal-rate>div:last-child>span {
        font-size: 1.5rem;
        padding: 6px 10px;
        margin-top: 25px;
        background-color: #bf2c24;
        color: white;
        cursor: pointer;
    }

    .modal-rate>div:last-child .act-rate {
        color: #ffcb50;
    }
}

/* Mobile */

@media (max-width: 575px) {

    .container {}

    .detail-story-page-for-mobile {
        display: block !important;
    }

    .detail-story {
        margin-top: 10px;
        display: flex;
        padding: 0px 10px;
    }

    .detail-story>img {
        width: 84px;
        height: 112px;
    }

    .detail-story__info {
        margin-left: 10px;
        transform: translateX(0px);
        padding-top: 0;
    }

    .detail-story__info>span {
        font-size: 1.7rem;
    }

    .sum-rate {
        display: flex;
        margin-top: 15px;
    }

    .sum-rate>div {
        font-size: 1.2rem;
    }

    .sum-rate>div>i {
        color: #dddcdb;
    }

    .sum-rate>div>.act-rate {
        color: #ffcb50;
    }

    .sum-rate>i {
        margin-left: 6px;
        font-size: 1.1rem;
    }

    .detail-story__info-type {
        display: block;
        margin-top: 10px;
        font-size: 1.3rem;
    }

    .detail-story__info-2 {
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .detail-story__info-chap {
        font-size: 1.3rem;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid;
    }

    .detail-story__info-status {
        font-size: 1.3rem;
    }

    .extend-story {
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0 10px;
        border-bottom: 1px solid var(--color-border);
    }

    .extend-story>div:first-child {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .extend-story>div:first-child>a {
        margin-right: 5px;
        padding: 5px 10px;
        background-color: #bf2c24;
        color: white;
        border: 1px solid #bf2c24;
    }

    .extend-story>div:first-child>span {
        margin-right: 5px;
        padding: 5px 10px;
        border: 1px solid #9fadc9;
        color: #3f5a93;
        cursor: pointer;
    }

    .new-story-update {
        padding: 10px;
        font-size: 1.2rem;
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
        cursor: pointer;
    }

    .new-story-update>span:first-child {
        margin-right: 8px;
        font-weight: 600;
    }

    .new-story-update>span:last-child {
        color: gray;
    }

    .introduce-story {
        margin-top: 10px;
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
    }

    .introduce-story>h3 {
        font-size: 1.5rem;
        padding: 10px 0;
        padding-left: 10px;
        border-bottom: 1px solid #dfdfdf;
    }

    .introduce-story>p {
        padding: 0 10px;
        margin-top: 10px;
        font-size: 1.3rem;
        line-height: 2.2rem;
        padding-bottom: 10px;
    }

    .author-story {
        margin-top: 10px;
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
    }

    .author-story>h3 {
        font-size: 1.5rem;
        padding: 10px 0;
        padding-left: 10px;
        border-bottom: 1px solid #dfdfdf;
    }

    .author-story>div {
        padding: 0 10px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        padding-bottom: 15px;
    }

    .author-story>div>img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .author-story>div>div {
        font-size: 1.4rem;
        margin-left: 10px;
    }

    .author-story>div>div>span {
        display: block;
    }

    .author-story>div>div>span:last-child {
        margin-top: 5px;
        color: #9b9a9a;
    }

    .modal-rateStory-mobile {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        z-index: 20;
    }

    .modal-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #89898957;
    }

    .modal-rate {
        width: 280px;
        height: 150px;
        z-index: 25;
        margin: auto;
        background-color: white;
        padding: 0 10px;
    }

    .modal-rate>div:first-child {
        font-size: 2.2rem;
        display: flex;
        justify-content: end;
        margin-top: 10px;
        padding-right: 10px;
    }

    .modal-rate>div:last-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modal-rate>div:last-child>div>i {
        font-size: 1.8rem;
        margin-right: 5px;
        color: #dddcdb;
        cursor: pointer;
    }

    .modal-rate>div:last-child>span {
        font-size: 1.5rem;
        padding: 6px 10px;
        margin-top: 25px;
        background-color: #bf2c24;
        color: white;
        cursor: pointer;
    }

    .modal-rate>div:last-child .act-rate {
        color: #ffcb50;
    }

    .list-chapter-mobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        z-index: 20;
    }

    .header-list-chap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.3rem;
        padding: 15px 10px;
    }

    .header-list-chap>span:nth-of-type(1) {
        font-size: 1.5rem;
        font-weight: 600;
    }

    .container-list-chapter {
        background-color: var(--color-background-mobile);
    }

    .list-new-update-chapter {
        padding-top: 15px;
        margin-bottom: 0px;
    }

    .list-new-update-chapter>span {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 15px;
        padding-left: 10px;
    }

    .list-new-update-chapter>ul {
        background-color: white;
        padding: 10px 0;
        padding-left: 10px;
    }

    .container-list-chapter__item {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }

    .list-all-chapter {
        padding-top: 15px;
        margin-bottom: 0px;
    }

    .list-all-chapter>span {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 15px;
        padding-left: 10px;
    }

    .list-all-chapter>ul {
        background-color: white;
        padding: 10px 0;
        padding-left: 10px;
    }

    .container-list-chapter__item {
        font-size: 1.4rem;
        margin-bottom: 15px;
    }
}