{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/logIn.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive-logIn.css' %}">

    <!-- Link Font -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <section style="background: url({% static 'images/image-background/bg_5.jpg' %});
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;">
        <div class="waiting-verification">
            <h2>Vui lòng xác thực email để hoàn tất đăng ký tài khoản.</h2>
            <p>Bạn vui lòng kiểm tra phần thư rác (spam) để kích hoạt email.</p>
        </div>
    </section>
</body>

</html>